<!doctripId html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--        custom css-->
        <link th:href="@{/styles/styles.css}" rel="stylesheet" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>
    <body>
        <div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="row m-4">
                <div class="col text-center border border-dark">
                    <h1><a href="/" class="text-dark">GlobeTrotter</a></h1>
                </div>
            </div>
            <div class="row m-4 border border-dark">

                <div class="col text-center m-3">
                    <a href="trips" class="btn btn-outline-primary btn-lg">Trips</a>
                </div>
                <div class="col text-center m-3">
                    <a href="travellers" class="btn btn-outline-primary btn-lg">Travellers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="accomodations" class="btn btn-outline-primary btn-lg">Accomodations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="activities" class="btn btn-outline-primary btn-lg">Activities</a>
                </div>
                <div class="col text-center m-3">
                    <a href="budgets" class="btn btn-outline-primary btn-lg">Budgets</a>
                </div>
            </div>

            <div class="row m-4 border border-dark">

                <div class="col-12 m-1 text-center"
                     th:if="${!errors.isEmpty()}">
                    <p class="alert alert-danger" th:each="error : ${errors}"
                       th:text="${error.message}">Error message</p>
                </div>

                <div class="col-3 text-center m-3">
                    <span class="h3">Add Budget</span>
                </div>
                <div class="col-7 text-center m-3">
                    <div th:if="${trips !=null and !trips.empty}">
                        <form action="addBudget" method="POST">
                            <div class="form-group row">
                                <label for="name" class="col-3 col-form-label">
                                   Budget Name</label>
                                <div class="col-9">
                                    <input type="text" name="name"
                                           id="name"

                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">

                                <label for="accomodationCost" class="col-3 col-form-label">
                                    Accomodation Cost</label>
                                <div class="col-9">
                                    <input type="number" name="accomodationCost"
                                           id="accomodationCost"
                                           pattern ="\d+\.\d\d(?!\d)"                                          
                                           title="Number must be a decimal (ex.12.34)"
                                           value ="0.00"
                                           min="0"
                                           step=".01"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="foodCost" class="col-3 col-form-label">
                                    Food Cost</label>
                                <div class="col-9">
                                    <input type="number" name="foodCost"
                                           id="foodCost"
                                           value ="0.00"
                                           min="0.00"
                                           step=".01"
                                           pattern ="\d+\.\d\d(?!\d)"                                          
                                           title="Number must be a decimal (ex.12.34)"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="activityCost" class="col-3 col-form-label">
                                    Activity Cost </label>
                                <div class="col-9">
                                    <input type="number" name="activityCost"
                                           id="activityCost"
                                           min="0.00"
                                           value ="0.00"
                                           step=".01"
                                           pattern ="\d+\.\d\d(?!\d)"                                          
                                           title="Number must be a decimal (ex.12.34)"
                                           class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="transportationCost" class="col-3 col-form-label">
                                    Transportation Cost </label>
                                <div class="col-9">
                                    <input type="number" name="transportationCost"
                                           id="transportationCost"
                                           min="0.00"
                                           value ="0.00"
                                           step=".01"
                                           pattern ="\d+\.\d\d(?!\d)"                                           
                                           title="Number must be a decimal (ex.12.34)"
                                           class="form-control"/>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="tripId" class="col-3 col-form-label">
                                    Trip</label>
                                <div class="col-9">
                                    <select id="tripUd" name="tripId" class="form-control" >
                                        <option th:each="trip : ${trips}"
                                                th:value="${trip.id}"
                                                th:text="${trip.title}">
                                            Food Cost
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Add Activity</button>
                        </form>
                    </div>
                    <div th:unless="${trips != null and !trips.empty}">Add you First Trip!</div>
                </div>

            </div>
            <div class="row m-4 border border-dark">

                <div class="col text-center m-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Accomodation Cost</th>
                                <th>Food Cost</th>
                                <th>Activity Cost</th>
                                <th>Transportation Cost</th>
                                <th>Total</th>
                                <th>Trip</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="budget : ${budgets}">

                                <td th:text="${budget.accomodationCost}">Accomodation Cost</td>
                                <td th:text="${budget.foodCost}">Food Cost</td>
                                <td th:text="${budget.activityCost}">Activity Cost</td>
                                <td th:text="${budget.transportationCost}">Transportation Cost</td>
                                <td th:text="${budget.total}">Total Cost</td>
                                <td th:text="${budget.trip.title}">Trip</td>

                                <td><a href="#" th:href="@{/editBudget(id=${budget.id})}">Edit</a></td>
                                <td><a href="#" th:href="@{/deleteBudget(id=${budget.id})}">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>