<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--        custom css-->
        <link th:href="@{/styles/styles.css}" rel="stylesheet" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Edit Powers</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        <div class="container">
            <div class="row m-4">
                <div class="col text-center ">
                    <h1><a href="/" class="text-dark">GlobeTrotter</a></h1>
                </div>
            </div>
            <div class="row m-3 ">
               <div class="row m-4  ">

                <div class="col text-center m-3">
                    <a href="trips" class="btn  btn-lg rounded-circle border-bottom">Trips</a>
                </div>
                <div class="col text-center m-3">
                    <a href="travellers" class="btn  btn-lg rounded-circle">Travellers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="accomodations" class="btn  btn-lg rounded-circle border-bottom">Accomodations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="activities" class="btn  btn-lg rounded-circle">Activities</a>
                </div>
                <div class="col text-center m-3">
                    <a href="budgets" class="btn  btn-lg rounded-circle border-bottom">Budgets</a>
                </div>
            </div>

                <div class="row m-3 ">
                    <div class="col-3 text-center m-3">
                        <span class="h3">Edit Trip</span>
                    </div>
                    <div class="col-7 text-center m-3">
                        <form action="editTrip" method="POST">
                            <input type="hidden" name="id" id="id" th:value="${trip.id}"/>
                            <div class="form-group row">
                                <label for="title" class="col-3 col-form-label">
                                    Title</label>
                                <div class="col-9">
                                    <input type="text" name="title"
                                           id="title" class="form-control" th:value="${trip.title}"/>
                                    <div th:if="${#fields.hasErrors('trip.title')}">
                                        <p th:each="error : ${#fields.errors('trip.title')}"
                                           class="alert alert-danger" th:text="${error}">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-3 col-form-label">Description</label>
                                <div class="col-9">
                                    <input type="text" name="description" id="description" class="form-control"
                                           th:value="${trip.description}" />
                                    <div th:if="${#fields.hasErrors('trip.description')}">
                                        <p th:each="error : ${#fields.errors('trip.description')}"
                                           class="alert alert-danger" th:text="${error}">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="type" class="col-3 col-form-label">Type</label>
                                <div class="col-9">
                                    <select name="type" id="type" class="form-control" th:value="${trip.type}">
                                        <option value="road trip">Road Trip</option>
                                        <option value="staycation">staycation</option>
                                        <option value="weekend getaway">weekend getaway</option>
                                        <option value="camping trip">camping trip</option>
                                        <option value="cultural">cultural</option>
                                        <option value="culinary">culinary</option>
                                        <option value="beach">beach</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="startDate" class="col-3 col-form-label">
                                    Start Date</label>
                                <div class="col-9">
                                    <input type="date" name="startDate"
                                           id="startDate" class="form-control"  th:value="${trip.startDate}"/>
                                    <div th:if="${#fields.hasErrors('trip.startDate')}">
                                        <p th:each="error : ${#fields.errors('trip.startDate')}"
                                           class="alert alert-danger" th:text="${error}">
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="endDate" class="col-3 col-form-label">
                                    End Date</label>
                                <div class="col-9">
                                    <input type="date" name="endDate"
                                           id="endDate" class="form-control"  th:value="${trip.endDate}"/>
                                    <div th:if="${#fields.hasErrors('trip.endDate')}">
                                        <p th:each="error : ${#fields.errors('trip.endDate')}"
                                           class="alert alert-danger" th:text="${error}">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Edit Trip</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End main body -->

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>;
